@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define light theme variables */
:root {
  --bg-color: linear-gradient(to bottom,  #eae5c9 0%,#fcfcfc 99%); 
  --text-color: #1a202c; /* text-gray-900 */
  --header-bg: #000800; /* bg-gray-800 */
  --card-bg: #ffffff; /* bg-white */
  --button-bg: #3b82f6; /* bg-blue-500 */
  --button-text: #ffffff; /* text-white */
  --bg-img: url('@/assets/images/light.png') no-repeat center center fixed;
  --bg-gradient: linear-gradient(to bottom,  #845a6d 0%,#6d4b55 62%,#6d4b55 62%);
  --nav-text: #fff;
  --card-bg: #f3f3f4;
  --border: 1px solid #000;
}
/* Define dark theme variables */
[data-theme='dark'] {
  --bg-color: #202634; /* bg-gray-900 */
  --text-color: #fff; /* text-gray-100 */
  --header-bg: #000800; /* bg-gray-800 */
  --card-bg: #2d3748; /* bg-gray-700 */
  --button-bg: #1d4ed8; /* bg-blue-700 */
  --button-text: #f7fafc; /* text-gray-100 */
  --bg-img: url('@/assets/images/dark.png') no-repeat center center fixed;
  --bg-gradient: linear-gradient(to bottom,  #845a6d 0%,#6d4b55 62%,#6d4b55 62%);
  --card-bg: #48536A;
  --border: 1px solid #fff;
}

body {
  background: var(--bg-color);
  background-size: cover;
  color: var(--text-color);
  transition: background 0.5s, color 0.5s;
}

header {
  background-color: var(--header-bg);
  color: var(--nav-text);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.burger {
  background-color: var(--header-bg) !important; 
  color: var(--text-color) !important; 
}

.burger-dropdown {
  background-color: var(--card-bg); 
  color: var(--text-color);
  position: relative;
  z-index: 99999999;
}

.carousel__viewport {
  /* background: #3D343D; */
}

.carousel__item {
  min-height: 200px;
  width: 100%;
  color: var(--text-color); 
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  color: #FFF !important; 
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Ensures video is behind the carousel */
}

.carousel__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.z-10 {
  z-index: 10;
}

.card-bg {
  background-color: var(--card-bg);
}

.card-img {
  background: url('@/assets/images/computer.png') center left no-repeat;
}

@keyframes moving-gradient {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.moving-text {
  display: inline-block;
}

.moving-text:hover {
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #ff7e5f);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: moving-gradient 2s linear infinite;
}

.class-border{
  border: var(--border);
  border-radius: 20px;
}